# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.pyc

# Environment Variables 
.env

# Uploads & Reports
uploads/
reports/

# PyCharm
.idea/
.vscode/

# Flask Instance
instance/
*.db

# OS Files
.DS_Store
Thumbs.db
